{% extends "base.html" %} {% block body %}
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <div class="container mt-3">
            <div class="modal-content">
              <div
                class="modal fade"
                id="messageModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header custom-modal">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Mensaje
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <p id="messageText"></p>
                    </div>
                  </div>
                </div>
              </div>

              {% block body3 %} {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
