{% extends "index.html" %}
{% block body3 %}

                <div class="box_container">
                    <a href="{% url 'pacientes' %}" class="configuracion_pacientes">
                        <div  class="configuracion_caja">
                            <div class="titulo__config">
                                <h2>Configuración de Pacientes</h2>
                            </div>
                            <div class="contenido">
                                <img src="../../static/assets/configuracion01.png"  alt="">
                            </div>
                        </div>
                       </a>
                        <a href="{% url 'usuarios' %}" class="configuracion__usuarios">
                            <div class="configuracion_caja">
                                <div class="titulo__config">
                                    <h2>Configuración de usuarios</h2>
                                </div>
                                <div class="contenido">
                                     <img src="../../static/assets/configuracion02.png"  alt="">
                                </div>
                            </div>
                        </a>
                        <a  href="{% url 'editUser' %}" class="configuracion__cuenta">
                            <div class="configuracion_caja">
                                <div class="titulo__config">
                                    <h2>Configuración de la cuenta</h2>
                                </div>
                                <div class="contenido">
                                    <img src="../../static/assets/configuracion03.png"  alt="">
                                </div>
                            </div>
                        </a>

                        <a  href="{% url 'medicos' %}" class="configuracion__cuenta">
                            <div class="configuracion_caja">
                                <div class="titulo__config">
                                    <h2>Configuración de Medicos</h2>
                                </div>
                                <div class="contenido">
                                    <img src="../../static/assets/configuracion04.png"  alt="">
                                </div>
                            </div>
                        </a>
                        <a  href="{% url 'tecnicos' %}" class="configuracion__cuenta">
                            <div class="configuracion_caja">
                                <div class="titulo__config">
                                    <h2>Configuración de Tecnicos</h2>
                                </div>
                                <div class="contenido">
                                    <img src="../../static/assets/configuracion04.png"  alt="">
                                </div>
                            </div>
                        </a>
                        <a  href="{% url 'enfermeros' %}" class="configuracion__cuenta">
                            <div class="configuracion_caja">
                                <div class="titulo__config">
                                    <h2>Configuración de Enfermeros</h2>
                                </div>
                                <div class="contenido">
                                    <img src="../../static/assets/configuracion04.png"  alt="">
                                </div>
                            </div>
                        </a>
                        <a  href="{% url 'especialidades' %}" class="configuracion__cuenta">
                            <div class="configuracion_caja">
                                <div class="titulo__config">
                                    <h2>Configuración de Especialidades</h2>
                                </div>
                                <div class="contenido">
                                    <img src="../../static/assets/configuracion05.png"  alt="">
                                </div>
                            </div>
                        </a>
                        <a  href="{% url 'examen' %}" class="configuracion__cuenta">
                            <div class="configuracion_caja">
                                <div class="titulo__config">
                                    <h2>Configuración de Examenes</h2>
                                </div>
                                <div class="contenido">
                                    <img src="../../static/assets/configuracion05.png"  alt="">
                                </div>
                            </div>
                        </a>
                        <a  href="{% url 'horario' %}" class="configuracion__cuenta">
                            <div class="configuracion_caja">
                                <div class="titulo__config">
                                    <h2>Configuración de Horarios</h2>
                                </div>
                                <div class="contenido">
                                    <img src="../../static/assets/configuracion05.png"  alt="">
                                </div>
                            </div>
                        </a>
                        <a  href="{% url 'operaciones' %}" class="configuracion__cuenta">
                            <div class="configuracion_caja">
                                <div class="titulo__config">
                                    <h2>Configuración de Operaciones</h2>
                                </div>
                                <div class="contenido">
                                    <img src="../../static/assets/configuracion05.png"  alt="">
                                </div>
                            </div>
                        </a>
        
                   </div>

{% endblock %}