{% extends "index.html" %}
{% block body3 %}
<div class="main__intranet__container">
    <div class="container__title">
        {% if cita %}
        <div class="main__intranet__title">
            <br>
            <h1>Citas Medicas</h1>
        </div>
    </div>

<div class="btn-container">
    &nbsp 
  <a class="btn btn-warning me-1" href="{% url 'addCita'%}">
    <i class="fa-solid fa-user-plus"></i>
  </a>

  <div class="form-group">
    <form id="my-form">
        <label for="export-button" class="btn btn-primary">Exportar a Excel</label>
        <button type="button" id="export-button" class="btn btn-primary" style="display:none;" data-toggle="modal" data-target="#modalAlerta" onclick="exportToExcel()">Exportar</button>
    </form>
  </div>
</div>
<script>
function exportToExcel() {
    window.location.href = "{% url 'exportCitas' %}";
}
</script>


<script>
function showButton() {
  var fileInput = document.getElementById("file-input");
  var submitButton = document.getElementById("submit-button");

  if (fileInput.value != "") {
    submitButton.style.display = "inline-block";
  }
}
</script>



    <div class="main__intranet__table__title intranet__table">

        <table>

            <thead>
            <tr>
                <th class="cells cellls__title">Paciente</th>
                <th class="cells cellls__title">Fecha Emision</th>
                <th class="cells cellls__title">Fecha Programada</th>
                <th class="cells cellls__title">Detalles</th>
                <th class="cells cellls__title">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for citas in cita %}
            <tr>
                <td class="cells cells__content">{{ citas.paciente.name }}</td>
                <td class="cells cells__content">{{ citas.fechaEmision }}</td>
                <td class="cells cells__content">{{ citas.fechaProgramada }}</td>
                <td class="cells cells__content">
                    <button type="button" class="btn btn-success me-1" data-bs-toggle="modal"
                            data-bs-target="#myModal{{citas.id}}">
                        <i class="fa-solid fa-circle-info fa-lg"></i>
                    </button>
                </td>
                <td class="cells cells__content">
                    <!-- Modal - View Citas -->
                    <div class="modal" id="myModal{{citas.id}}" tabindex="-1" aria-labelledby="myModalLabel1"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        Cita: {{ citas.id }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-unstyled">
                                        <li>Paciente: <strong>{{ citas.paciente.name }} {{ citas.paciente.lastName }}</strong></li>
                                        <li>Dni Paciente: <strong>{{ citas.paciente.dni }}</strong></li>
                                        <li>Telefono: <strong>{{ citas.paciente.celp }}</strong></li>
                                        <li>Fecha Emision: <strong>{{ citas.fechaEmision }}</strong></li>
                                        <li>Fecha Programada: <strong>{{ citas.fechaProgramada }}</strong></li>
                                        <li>Motivo: <strong>{{ citas.motivo }}</strong></li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-warning me-1" href="{% url 'editCita' citas.id %}">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>

                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#delete{{citas.id}}">
                        <i class="fa-solid fa-trash fa-lg"></i>
                    </button>
                    <!-- Modal - Delete Student -->
                    <div class="modal" id="delete{{citas.id}}" tabindex="-1" aria-labelledby="myModalLabel1"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        Cita: {{ citas.pacientes.name }} {{ citas.pacientes.lastName }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Estas seguro de Eliminar esta Cita?</p>
                                </div>
                                <div class="modal-footer">
                                    <form action="{% url 'deleteCita' citas.id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-primary" value="Delete">
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </tr>
            <tr>

            </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
    <span class="step-links">
        {% if cita.has_previous %}
            <a href="?page=1">&laquo; Primero</a>
            <a href="?page={{ cita.previous_page_number }}">Anterior</a>
        {% else %}
            <span class="disabled">&laquo; Primero</span>
            <span class="disabled">Anterior</span>
        {% endif %}

      {% for page in cita.paginator.page_range %}
    {% if cita.number == page %}
      <span class="current-page">{{ page }}</span>
    {% else %}
      <a href="?page={{ page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

        {% if cita.has_next %}
            <a href="?page={{ cita.next_page_number }}">Siguiente</a>
            <a href="?page={{ cita.paginator.num_pages }}">Último &raquo;</a>
        {% else %}
            <span class="disabled">Siguiente</span>
            <span class="disabled">Último &raquo;</span>
        {% endif %}
    </span>

        </div>


    </div>
    {% else %}
    <h5 class="alert-primary ms-4 me-4">No hay Citas registrados</h5>
    {% endif %}

    {% endblock %}