{% extends "index.html" %}

{% block body3 %}
 <div class="main__intranet__container">
<h3 class="text-center m-4">Agregar Especialidad</h3>
{% if success %}
    <div class="alert alert-success" role="alert">
        Especialidad Agregada Con Exito
        <a href="{% url 'especialidades' %}" class="alert-link">Go To Home</a>
    </div>
{% else %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card bg-light mb-3">
  <div class="card-header">
      <i class="fa-solid fa-address-card fa-lg"></i> Registro de Especialidades</div>
  <div class="card-body">
      <form action="{% url 'addEspecialidad' %}" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Agregar</button>
          &nbsp
          <a href="{% url 'especialidades' %}" class="btn btn-secondary">Cancel</a>
            </div>
      </form>
  </div>
        </div>
    </div>
    </div>

 {% endif %}
{% endblock %}